{% load i18n static cache_bust navtag %}

{% nav text "active" %}
<ul class="topnav navbar-nav align-items-center ms-auto">
    <li class="nav-item">
        <a class="nav-link {{ nav.startseite }}" href="{% url 'index' %}">Startseite</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ nav.einschreibungen }}" href="{% url 'einschreibungen' %}">Einschreibungen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ nav.zusatzfunktionen }}" href="{% url 'zusatzfunktionen' %}">Zusatzfunktionen</a>
    </li>
</ul>

